
config MTK_STK3X1X
	bool "MTK_STK3X1X for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and light sensor stk3x1x.
